@model Car

<h2> @Model.Mark - @Model.Model</h2>

<div class="thumbnail">
    <img alt="@Model.Mark" src="@Model.ImageUrl"/>
    <div class="caption">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>@Model.ProductionDate</h3>
        <h3>@Model.Mileage</h3>
        <h3>@Model.EngineCapacity</h3>
        <h3>@Model.Power</h3>
        <h3>@Model.CarDescription</h3>
    </div>
</div>