@model Komis.ViewModels.HomeViewModel
@*Okreslamy typ widoku - strona razor zaczyna dziedziczyc z Car.cs*@

<h2>@Model.Title</h2>

@foreach (var car in Model.CarList)
{
    <div class="col-sm-4 col-lg-4 col-md-4" >
        <div class="img-thumbnail">
            <img src="@car.MiniImageUrl" alt="" />
            <div class="figure-caption">
                <h3 class="pull-right">@car.Price.ToString("c")</h3>
                <h3>
                    @car.Mark - @car.Model - @car.ProductionDate
                </h3>
                <h4>
                    Przebieg : @car.Mileage
                </h4>
                <h4>
                    Pojemność : @car.EngineCapacity
                </h4>
                <h4>
                    Moc : @car.Power
                </h4>
                <p>@car.CarDescription</p>
            </div>
        </div>
    </div>
}